<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class ="parallax">
</div>

<style>
.parallax {
background-image: url("https://dummyimage.com/900x400/000/fff");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
    background-color: tan;
}
</style>
<div class="container text-center">
  <div class="row">
    <div class="col">
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis velit tellus, vel pulvinar enim efficitur eu. Sed auctor placerat nulla, eget feugiat lectus tincidunt ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dapibus augue. Cras vitae ullamcorper arcu, quis tempor ipsum. Aliquam mattis convallis velit vehicula tincidunt. Nulla aliquet molestie finibus. Praesent ultricies augue magna, sit amet semper erat euismod a. Donec egestas augue commodo, placerat arcu eu, iaculis leo. Phasellus dapibus luctus urna non suscipit. Duis mollis, lacus sed molestie mollis, turpis enim tristique nisl, nec mollis eros risus at diam. Nam eu turpis tincidunt, fermentum tortor quis, posuere erat. Morbi vulputate odio lectus, sit amet luctus dolor volutpat eu. Nullam in velit ut ipsum luctus malesuada pretium vel nisl. Mauris pretium elit ut diam facilisis ultricies. Vestibulum fermentum tellus sed tristique gravida. In sed dignissim ex. Donec sapien lorem, pharetra et nisl quis, interdum tincidunt velit. In a enim non metus iaculis posuere. </p>
 </div>
    <div class="col">
<img src="https://dummyimage.com/400x300/000/fff">
  </div>
  </div>
  <div class="row">
    <div class="col">

</div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
<form>
  <div class="mb-3">
  <h4>Student Sign-in </h4>
    <label for="username" class="form-label">Username</label>
    <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 </div>
    <div class="col">
    <form>
  <div class="mb-3">
   <h4>Teacher Sign-in </h4>
    <label for="username" class="form-label">Username</label>
    <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 </div>
  </div>
  </div>